
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles-main">
        <app-big-card
            Id="1"
            photoCover="https://4.bp.blogspot.com/_c8LNGp0k9_c/R3crbg1chpI/AAAAAAAABsY/ewTbPG8I_v8/w1200-h630-p-k-no-nu/buckethead.jpg"
            cardTitle="Enter the Chicken"
            cardDescription="Produced By Serj Tankian, Enter The Chicken, the latest and greatest musical attraction at Bucketheadland is set to take riders on board from the second you push play."
            >
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
        Id="2"
        photoCover="https://f4.bcbits.com/img/a2014208792_10.jpg"
        cardTitle="Pike 516"
        ></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://f4.bcbits.com/img/a2276025456_10.jpg"
        cardTitle="Pike 515"
        ></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://f4.bcbits.com/img/a0726454226_10.jpg"
        cardTitle="Pike 514"
        ></app-small-card>
    </div>
</div>